* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: hsl(25, 60%, 78%)
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: auto;
  width: auto;
}

.content {
  height: 100%;
  width: 100%;
}

.shape {
  height: 350px;
  width: 350px;
  border-top-left-radius: 250px;
  border-top-right-radius: 250px;
  border-bottom-left-radius: 250px;
  border-bottom-right-radius: 250px;
  background-color: hsl(20,57%,35%);
   
}

.shape2 {
  height: 100px;
  width: 100px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: hsl(20,57%,35%);
  margin-left: 370px;
  margin-top: 100px;
}

.shape3 {
  height: 100px;
  width: 100px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: hsl(20,57%,35%);
  margin-left: 480px;
  margin-top: -190px;
}

.shape4 {
  height: 100px;
  width: 100px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: hsl(20,57%,35%);
  margin-left: 640px;
  margin-top: -110px;
}

.shape5 {
  height: 100px;
  width: 100px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: hsl(20,57%,35%);
  margin-left: 780px;
  margin-top: -30px;
}

.content:hover{
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}






















