*{
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: hsl(25, 60%, 78%)
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: auto;
  width: auto;
}

.content {
  height: 100%;
  width: 100%;
  position: absolute;
  height: auto;
  width: auto;
}

.box-1 {
  font-family: 'Akronim', cursive;
  font-size: 150px;
  display: inline-grid;
  margin-left: 100px;
  margin-top: 75px;
}
img{
  margin-bottom: -75px
}

a{
  text-align: center;
  text-decoration: none;
  color: hsl(17,98%, 21%);
}
a:hover{
  color: hsl(19,29%,28%);
}
