* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: hsl(25, 60%, 78%)
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: auto;
  width: auto;
}

.content {
  height: 100%;
  width: 100%;
}

.shape {
  height: 300px;
  width: 300px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  background-color: hsl(20,57%,35%);
  position: absolute;
}

.shape2 {
  height: 100px;
  width: 100px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: hsl(20,57%,35%);
  margin-left: 370px;
  margin-top: 100px;
}

.shape3 {
  height: 100px;
  width: 100px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: hsl(20,57%,35%);
  margin-left: 480px;
  margin-top: -190px;
}

.shape4 {
  height: 100px;
  width: 100px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: hsl(20,57%,35%);
  margin-left: 640px;
  margin-top: -110px;
}

.shape5 {
  height: 100px;
  width: 100px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: hsl(20,57%,35%);
  margin-left: 780px;
  margin-top: -30px;
}

.shape:hover{
  animation: shake 0.2s;
  animation-iteration-count: infinite;
}

@keyframes shake{
  0%{
    transform: translate(1px, 1px) ;
  }
  15%{
    transform: translate(-1px, -2px) ;
  }
  30%{
  transform: translate(-3px, 0px) ; 
}
  45%{     
    transform: translate(3px, 2px) ; 
  }
  60%{
  transform: translate(1px, -1px) ; 
  }
  75%{
    transform: translate(-1px, 2px) ;
  }
  90%{
    transform: translate(-3px, 1px) ; 
  }
  100%{
   transform: translate(3px, 1px) ; 
   }
}

.shape2:hover{
  animation: shake 0.2s;
  animation-iteration-count: infinite;
}

@keyframes shake{
  0%{
    transform: translate(1px, 1px) rotate(0deg);
  }
  15%{
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  30%{
  transform: translate(-3px, 0px) rotate(1deg); }
  45%{     
    transform: translate(3px, 2px) rotate(0deg); 
  }
  60%{
  transform: translate(1px, -1px) rotate(1deg); 
  }
  75%{
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  90%{
    transform: translate(-3px, 1px) rotate(0deg); 
  }
  100%{
   transform: translate(3px, 1px) rotate(-1deg); 
   }
}

.shape3:hover{
  animation: shake 0.2s;
  animation-iteration-count: infinite;
}

@keyframes shake{
  0%{
    transform: translate(1px, 1px) rotate(0deg);
  }
  15%{
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  30%{
  transform: translate(-3px, 0px) rotate(1deg); }
  45%{     
    transform: translate(3px, 2px) rotate(0deg); 
  }
  60%{
  transform: translate(1px, -1px) rotate(1deg); 
  }
  75%{
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  90%{
    transform: translate(-3px, 1px) rotate(0deg); 
  }
  100%{
   transform: translate(3px, 1px) rotate(-1deg); 
   }
}
.shape4:hover{
  animation: shake 0.2s;
  animation-iteration-count: infinite;
}

@keyframes shake{
  0%{
    transform: translate(1px, 1px) rotate(0deg);
  }
  15%{
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  30%{
  transform: translate(-3px, 0px) rotate(1deg); }
  45%{     
    transform: translate(3px, 2px) rotate(0deg); 
  }
  60%{
  transform: translate(1px, -1px) rotate(1deg); 
  }
  75%{
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  90%{
    transform: translate(-3px, 1px) rotate(0deg); 
  }
  100%{
   transform: translate(3px, 1px) rotate(-1deg); 
   }
}
.shape5:hover{
  animation: shake 0.2s;
  animation-iteration-count: infinite;
}

@keyframes shake{
  0%{
    transform: translate(1px, 1px) rotate(0deg);
  }
  15%{
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  30%{
  transform: translate(-3px, 0px) rotate(1deg); }
  45%{     
    transform: translate(3px, 2px) rotate(0deg); 
  }
  60%{
  transform: translate(1px, -1px) rotate(1deg); 
  }
  75%{
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  90%{
    transform: translate(-3px, 1px) rotate(0deg); 
  }
  100%{
   transform: translate(3px, 1px) rotate(-1deg); 
   }
}






















